body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.countDiv{
  width: 350px;
  background-color: blueviolet;
  border: 2px solid tomato;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto 30px auto;
}
.countDiv h1{
  font-size: 25px;
  font-weight: bold;
  color: black;
}
.countDiv p{
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.span{
  width: 90%;
  height: 1px;
  border-bottom: 10px dotted blue;
  margin: 0 auto 30px auto;
  display: block;
}
.followersDiv{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
h2{
  text-align: center;
}
.followersDiv img{
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 20px 20px 20px;
  
}
.followersDiv li{
  list-style: none;
  border: 1px solid rgb(54, 49, 49);
  gap: 10px;
}
.followersDiv h4{
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

@media (max-width:400px) {
  .countDiv{
    width: 260px;
  }
  .countDiv h1{
    font-size: 20px;
  }
  .countDiv p{
    font-size: px;
  }
}